<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.ClockLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yu.model.entity.ClockLog">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="start_time" property="startTime" />
        <result column="day_time" property="dayTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, start_time, day_time
    </sql>
    <select id="countLateDay" resultType="com.yu.model.dto.ClockCountDayDTO">
        SELECT COUNT(*) AS count,
        DATE_FORMAT(day_time, '%Y-%m-%d') AS day
        FROM clock_log
        WHERE start_time >= '${@com.yu.config.WorkTimeConfig@startTime}'
        and day_time between #{start} and #{end}
        GROUP BY day_time;
    </select>
    <select id="getPageQuery" resultType="com.yu.model.vo.PassPageVo">
        select log.id,log.a_type,log.create_time,u.username as name,u.mobile as phone
        from access_log log
        left join sys_user u on log.user_id = u.id
        where (a_type = 2 or a_type = 3) and log.deleted = 0
        <if test="q.startTime != null">
            and log.create_time between #{q.startTime} and #{q.endTime}
        </if>
        order by create_time desc
    </select>

</mapper>
